/* .main-img {
    background: url('https://ak2.picdn.net/shutterstock/videos/9057502/thumb/12.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
} */

/* #body-utama {
    background: url('https://ak2.picdn.net/shutterstock/videos/9057502/thumb/12.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
} */